<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/icons/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon"/>
	<title th:text="${title}"> 注册应用</title>
</head>
<body class="text-center">

<div class="container d-flex h-100 p-3 mx-auto flex-column">
	<div th:replace="include :: top">header goes here.</div>
	
	<main role="main" class="inner cover" id="app">
		<div class="alert alert-primary" role="alert">
			<span style="font-size: 1.75rem;">注册应用</span>
		</div>
		
		<form class="text-left" id="app-form">
			<div class="form-group">
				<label>应用名称</label>
				<input type="text" name="name" v-model="name" class="form-control" placeholder="应用名称">
			</div>
			<div class="form-group">
				<label>手机号码</label>
				<div class="input-group">
					<input type="text" name="mobile" v-model="mobile" class="form-control" placeholder="手机号码">
					<div class="input-group-append">
						<span class="input-group-text" v-on:click="sendMessage" style="cursor: pointer;">发送短信验证码
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>短信验证码</label>
				<input type="text" name="scode" v-model="scode" class="form-control" placeholder="短信验证码">
			</div>
			
			<div class="form-group">
				<label>收款钱包地址</label>
				<input type="text" name="address" v-model="address" class="form-control" placeholder="收款钱包地址">
			</div>
			
			<div class="form-group">
				<label>API 回调地址</label>
				<input type="text" name="apiUrl" v-model="apiUrl" class="form-control" placeholder="API 回调地址">
			</div>
			
			<div  v-show="show">
				<div class="form-group">
					<label>appId</label>
					<input type="text" v-model="appId" class="form-control-plaintext text-white" readonly>
				</div>
				
				<div class="form-group">
					<label>API 秘钥</label>
					<input type="text" v-model="apiKey" class="form-control-plaintext text-white" readonly>
				</div>
			</div>
			
			<button type="button" v-on:click="submit" class="btn btn-primary">提交</button>
		</form>
	
	</main>
	
	<div th:replace="include :: footer">footer goes here.</div>
</div>

<script>
	
	new Vue({
		el: "#app",
		data: {
			name: "",
			mobile: "",
			scode: "",
			apiUrl: "",
			apiKey: "",
			appId: "",
			address: "",
			show: false,
			send: false, // 是否发送了短信
		},
		methods: {
			// 发送短信
			sendMessage: function(e) {
				if (this.send) {
					return messageError("您的操作过于频繁.");
				}
				var validator = new Validator();
				if (!validator.validate(this.mobile, "mobile")) {
					return messageError("请输入正确的手机号码.");
				}
				this.send = true;
				httpPost("/app/sendMessage", {mobile: this.mobile}, function () {
					messageOk("短信发送成功");
				}, function () {
					messageError("短信发送失败");
				})
			},
			// 创建一个新钱包
			submit: function () {
				var that = this;
				var validator = new Validator();
				if (this.name.trim() == '') {
					return messageError("应用名称不能为空.");
				}
				if (!validator.validate(this.mobile, "mobile")) {
					return messageError("请输入正确的手机号码.");
				}
				if (this.address.trim() == '') {
					return messageError("收款地址不能为空.");
				}
				if (this.apiUrl.trim() == '') {
					return messageError("API 回调地址不能为空.");
				}
				var loading = messageLoading();
				setTimeout(function () {
					httpPost("/app/doAdd", getFormData("app-form"), function (res) {
						var data = res.data;
						that.apiKey = data.apiKey;
						that.appId = data.id;
						that.show = true;
						loading.hide();
						document.getElementById("app-form").reset();
						messageOk("应用创建成功.");
					}, function (message) {
						messageError(message);
						loading.hide();
					});
				}, 1000);
				
			}
		}
	});
</script>
</body>
</html>