<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<body>

<!-- 页面顶部 -->
<header th:fragment="top" class="masthead">
    <div class="inner" id="nav-bar">
        <h3 class="masthead-brand">
            <a href="/" style="text-decoration: none">
                <img src="/static/images/logo.png" style="height: 35px; position: relative; top: -4px;">
                <span class="header-text">Gamma Wallet</span>
            </a>
        </h3>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="/">创建钱包</a></li>
            <li class="nav-item"><a class="nav-link" href="/wallet/import">导入钱包</a></li>
	        <li class="nav-item"><a class="nav-link" href="/transfer">
		        <span class="oi oi-transfer"></span> 转账</a></li>
            <li class="nav-item"><a class="nav-link" href="/balance">
                <span class="oi oi-dollar"></span> 查询余额</a></li>
        </ul>
    </div>
</header>

<!-- 底部 -->
<footer th:fragment="footer" class="mastfoot mt-auto">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/validator.js"></script>
    <script src="/static/js/jdialog/JDialog.min.js"></script>
    <script src="/static/js/uploader/JUpload.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <div class="inner">
        <p>Designed by &copy; <a href="http://www.xjxh.pro">星际鑫航</a>.</p>
    </div>
</footer>
</body>

</html>