<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/icons/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon"/>
	<title th:text="${title}">钱包首页</title>
</head>

<body class="text-center">

<div class="container d-flex h-100 p-3 mx-auto flex-column">
	<div th:replace="include :: top">header goes here.</div>
	
	<main role="main" class="inner cover mt-5 pt-5 index-main" id="app">
		<h1 class="cover-heading">Filecoin 钱包（开发网络版）</h1>
		<p class="lead m-4 text-left">Gamma Wallet 是一款 Filecoin 轻钱包，目前基于 Filecoin
			开发网络，由于开发网络目前钱包的功能尚未开发完成，目前仅实现了创建钱包，转账，和查看余额的功能。
			等官方钱包接口完善之后我们会同步更新。
		</p>
		<div class="text-center">
			<a href="javascript:void(0);" v-on:click="newAddress" class="btn btn-lg btn-primary">生成一个新的钱包地址</a>
		</div>
		
		<div class="card mt-4" v-show="show">
			<div class="card-body text-dark">
				<div class="alert alert-info text-left" role="alert">
					钱包地址： {{ address }}
				</div>
				<div class="alert alert-info text-left" role="alert">
					钱包私钥： {{ pkReplacement }} <i class="oi oi-eye" v-show="eyeShow" style="cursor: pointer"
					                             v-on:click="showPrivateKey"
					                          title="显示秘钥"></i>
				</div>
				
				<div>
					<button type="button" class="btn btn-success mb-2 ml-2" v-on:click="downloadWallet">下载钱包文件</button>
				</div>
			</div>
		</div>
	
	</main>
	
	<div th:replace="include :: footer">footer goes here.</div>
</div>

<script>
	new Vue({
		el: "#app",
		data: {
			address: "",
			pkReplacement: "**************************************************************************",
			privateKey: "",
			walletPass: "",
			eyeShow: true,
			show: false
		},
		methods: {
			// 创建一个新钱包
			newAddress: function () {
				var that = this;
				var loading = messageLoading();
				setTimeout(function () {
					httpGet("/api/filecoin/newAddress", function
						(res) {
						messageOk("钱包创建成功.");
						loading.hide();
						var data = res.data;
						that.address = data.address;
						that.privateKey = data.privateKey;
						that.show = true;
					}, function (message) {
						loading.hide();
						messageError(message);
					});
				}, 1000);
			},
			
			// 下载钱包 keystore 文件
			downloadWallet: function () {
				location.href = "/wallet/download/"+this.address;
			},
			// 显示私钥
			showPrivateKey: function () {
				this.pkReplacement = this.privateKey;
				this.eyeShow = false;
			}
		}
	});
</script>
</body>
</html>