<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/icons/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon"/>
	<title th:text="${title}"> 发送 FIL</title>
</head>
<body class="text-center">

<div class="container d-flex h-100 p-3 mx-auto flex-column">
	<div th:replace="include :: top">header goes here.</div>
	
	<main role="main" class="inner cover" id="app">
		
		<form class="text-left" id="app-form">
			<div class="form-group">
				<label>收款地址</label>
				<input type="text" name="name" v-model="name" class="form-control" placeholder="收款地址">
			</div>
			<div class="form-group">
				<label>钱包私钥</label>
				<input type="text" name="name" v-model="name" class="form-control" placeholder="钱包私钥">
			</div>
			<div class="form-group">
				<label>转账金额</label>
				<input type="number" step="0.1" name="name" v-model="name" class="form-control" placeholder="转账金额">
			</div>
			<div class="form-group">
				<label>Gas Price</label>
				<input type="number" step="0.01" name="gasPrice" v-model="gasPrice" class="form-control"
				       placeholder="Gas Price">
			</div>
			
			<div class="form-group">
				<label>Gas Limit</label>
				<input type="number" step="100" name="gasLimit" v-model="gasLimit" class="form-control"
				       placeholder="Gas Limit">
			</div>
			
			<button type="button" v-on:click="submit" style="padding: 0.55rem 1.25rem;"
			        class="mt-4 btn btn-primary btn-block">发送交易</button>
		</form>
	
	</main>
	
	<div th:replace="include :: footer">footer goes here.</div>
</div>

<script>
	
	new Vue({
		el: "#app",
		data: {
			name: "",
			mobile: "",
			gasPrice: "0.001",
			gasLimit: "300",
			apiKey: "",
			appId: "",
			address: "",
			show: false,
			send: false, // 是否发送了短信
		},
		methods: {
			// 发送短信
			sendMessage: function(e) {
				if (this.send) {
					return messageError("您的操作过于频繁.");
				}
				var validator = new Validator();
				if (!validator.validate(this.mobile, "mobile")) {
					return messageError("请输入正确的手机号码.");
				}
				this.send = true;
				httpPost("/app/sendMessage", {mobile: this.mobile}, function () {
					messageOk("短信发送成功");
				}, function () {
					messageError("短信发送失败");
				})
			},
			// 创建一个新钱包
			submit: function () {
				var that = this;
				var validator = new Validator();
				if (this.name.trim() == '') {
					return messageError("应用名称不能为空.");
				}
				if (!validator.validate(this.mobile, "mobile")) {
					return messageError("请输入正确的手机号码.");
				}
				if (this.address.trim() == '') {
					return messageError("收款地址不能为空.");
				}
				if (this.apiUrl.trim() == '') {
					return messageError("API 回调地址不能为空.");
				}
				var loading = messageLoading();
				setTimeout(function () {
					httpPost("/app/doAdd", getFormData("app-form"), function (res) {
						var data = res.data;
						that.apiKey = data.apiKey;
						that.appId = data.id;
						that.show = true;
						loading.hide();
						document.getElementById("app-form").reset();
						messageOk("应用创建成功.");
					}, function (message) {
						messageError(message);
						loading.hide();
					});
				}, 1000);
				
			}
		}
	});
</script>
</body>
</html>